<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".WorkspaceSearchReturnTestActivity"
            android:exported="false" />
        <activity
            android:name="com.yangchengwei.easytrip.amap.AmapAttachSmokeActivity"
            android:exported="false" />
    </application>
</manifest>
